<!-- 引用模板文件 -->
{% extends 'base.html' %}
<!-- 加载静态的文件 ，注意格式-->
{% load staticfiles %}
{% block title %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<style type=""text/css>
		ul{
			list-style: none;
		}

	</style>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				{% if not user.is_authenticated %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{ form_title }}</h3>
						</div>
						<div class="panel-body">
							<form action="" method="POST">
								<!-- csrf令牌的意思，防止攻击，否则拒绝访问 -->
								{% csrf_token %}
								<!-- 循环输出form的字段 -->
								{% for field in form %}
									<!-- 输出字段的标签 判断是否 -->
									{% if not field.is_hidden %}
										<label for="{{ field.id_for_laber }}">{{ field.label }}</label>
									{% endif %}
									<!-- 输出字段 -->
									{{ field }}
									<!-- 字段验证，如果有写验证的话，将会在下面显示错误语句 -->
									<p class="text-danger">{{ field.errors.as_text }}</p>
								{% endfor %}
								<!-- 非字段验证，如果表单有错误，在此处提示错误信息 -->
								<span id="form_tip" class="text-danger">{{ form.non_field_errors }}</span>
								<!-- 清除浮动 -->
								<div class="clearfix"></div>
								<div class="pull-left">
								<button id="send_code" class="btn btn-primary">发送验证码</button>
								</div>
								<div class="pull-right">		
									<input type="submit" value="{{ submit_text }}" class="btn btn-primary"> 
									<button class="btn btn-default" onclick="window.location.href='/'">返   回</button>
									 
									
								</div>
								
							</form>
						</div>
					</div>
				{% else %}

					<span>未登录，跳转到首页</span>

					<script type="text/javascript">
						// 加载到到首页
						window.location.href='/'
					</script>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}

<!-- script脚本拓展 -->
{% block script_extends %}
	<script type="text/javascript">
		$("#send_code").click(function(){
			var email=$("#id_email").val();
			console.log("email"+email)
			if (email=='') {
				console.log("email2"+email)
				$("#form_tip").text('*邮箱不能为空')
				return false
			}

			// 发送验证码
			$.ajax({
				url:"{% url 'send_verification_code' %}",
				type:"GET",
				data:{
					'email':email
				},
				cache:false,
				success:function(data){
					console.log(data)
					if (data['status']=='ERROR') {
						alter(data['status'])
					}
				},
				error:function(xhr){
					console.log(xhr)
				}
			});

			// 把按钮变灰
			$(this).addClass('disabled');
			$(this).attr('disabled',true);
			var time=30
			$(this).text(time+'s')
			var interval=setInterval(()=>{
				if (time<=0) {
					clearInterval(interval);
					$(this).removeClass('disabled');
					$(this).attr('disabled',false);
					$(this).text('发送验证码');
					return false;
				}
				time--;
				$(this).text(time+'s');
			},1000);
			return false;
		});


	</script>

{% endblock %}
